:root {
    --primary-color: #e3262c;
    --fs-color-primary: #e3262c;
    --fs-color-secondary: #d26e4b;
    --fs-color-success: #81b441;
    --fs-color-alert: #5d87ff;
    --fs-experimental-link-color: #333333;
    --fs-experimental-link-color-hover: #111;
}

.tooltipster-base {
    --tooltip-color: #fff;
    --tooltip-bg-color: #000;
}

.off-canvas-right .mfp-content,.off-canvas-left .mfp-content {
    --drawer-width: 300px;
}

.off-canvas .mfp-content.off-canvas-cart {
    --drawer-width: 360px;
}

.container-width,.full-width .ubermenu-nav,.container,.row {
    max-width: 1370px
}

.row.row-collapse {
    max-width: 1340px
}

.row.row-small {
    max-width: 1362.5px
}

.row.row-large {
    max-width: 1400px
}

.sticky-add-to-cart--active,#wrapper,#main,#main.dark {
    background-color: #f5f8fb
}

.header-main {
    height: 70px
}

#logo img {
    max-height: 70px
}

#logo {
    width: 120px;
}

.header-bottom {
    min-height: 55px
}

.header-top {
    min-height: 30px
}

.transparent .header-main {
    height: 70px
}

.transparent #logo img {
    max-height: 70px
}

.has-transparent+.page-title:first-of-type,.has-transparent+#main>.page-title,.has-transparent+#main>div>.page-title,.has-transparent+#main .page-header-wrapper:first-of-type .page-title {
    padding-top: 70px;
}

.header.show-on-scroll,.stuck .header-main {
    height: 60px !important
}

.stuck #logo img {
    max-height: 60px !important
}

.header-bg-color {
    background-color: #ffffff
}

.header-bottom {
    background-color: #f1f1f1
}

.header-main .nav>li>a {
    line-height: 16px
}

.stuck .header-main .nav>li>a {
    line-height: 40px
}

.header-bottom-nav>li>a {
    line-height: 16px
}

@media (max-width: 549px) {
    .header-main {
        height: 70px
    }

    #logo img {
        max-height: 70px
    }
}

.nav-dropdown {
    border-radius: 5px
}

.nav-dropdown {
    font-size: 100%
}

body {
    color: #333333
}

h1,h2,h3,h4,h5,h6,.heading-font {
    color: #333333;
}

.header:not(.transparent) .header-nav-main.nav>li>a {
    color: #333333;
}

.header:not(.transparent) .header-nav-main.nav>li>a:hover,.header:not(.transparent) .header-nav-main.nav>li.active>a,.header:not(.transparent) .header-nav-main.nav>li.current>a,.header:not(.transparent) .header-nav-main.nav>li>a.active,.header:not(.transparent) .header-nav-main.nav>li>a.current {
    color: #e3262c;
}

.header-nav-main.nav-line-bottom>li>a:before,.header-nav-main.nav-line-grow>li>a:before,.header-nav-main.nav-line>li>a:before,.header-nav-main.nav-box>li>a:hover,.header-nav-main.nav-box>li.active>a,.header-nav-main.nav-pills>li>a:hover,.header-nav-main.nav-pills>li.active>a {
    color: #FFF !important;
    background-color: #e3262c;
}

.has-equal-box-heights .box-image {
    padding-top: 100%;
}

input[type='submit'],input[type="button"],button:not(.icon),.button:not(.icon) {
    border-radius: 99px !important
}

@media screen and (min-width: 550px) {
    .products .box-vertical .box-image {
        min-width: 600px !important;
        width: 600px !important;
    }
}

.absolute-footer,html {
    background-color: #f5f8fb
}

.nav-vertical-fly-out>li+li {
    border-top-width: 1px;
    border-top-style: solid;
}

/* Custom CSS */
.header-main .header-inner .flex-right .nav-right .ti {
    margin-right: 5px;
}

.product-type-simple.product-small .col-inner .sku-demo {
    text-align: left;
}

.accordion-inner {
    padding: 1em 20px;
}

.accordion .accordion-item .accordion-title {
    padding-left: 20px;
}

.custom-product-page .breadcrumbs {
    letter-spacing: 1px;
    font-size: 11px;
}

.blog-page-title .blog-page-heading .blog-entry-meta .ti {
    background-color: #fff;
    padding: 6px;
    border-radius: 99px;
}

.conetent-app .row .large-3 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.blog-single .post-sidebar .widget {
    border: 1px solid #ececec;
    border-radius: 8px;
}

.blog-single .post-sidebar .widget-title {
    border-radius: 8px 8px 0px 0px;
}

.blog-single .post-sidebar .widget ul {
    padding: 10px;
}

#ftwp-container.ftwp-wrap #ftwp-contents {
    border-radius: 8px;
}

#ftwp-container.ftwp-wrap #ftwp-list {
    padding-bottom: 10px;
}

.app-content .col-inner .app-thumb-img, .app-text-content .icon-app img {
    border-radius: 5px;
}

.icon-box-img img, .icon-box-img svg {
    padding-top: 0em;
}

.nav-dropdown-simple .nav-column li>a:hover, .nav-dropdown.nav-dropdown-simple>li>a:hover {
    background-color: rgb(245 248 251);
}

.label-new.menu-item>a:after, .label-hot.menu-item>a:after {
    padding: 4px 5px 3px;
    font-family: "Roboto", sans-serif;
}

.product-type-simple.product-small .col-inner .time-update .tag {
    padding: 3px 6px 3px;
}

.label-hot.menu-item>a:after {
    background-color: #e3262c;
}

.blog-featured-title.featured-title .page-title-inner .entry-category a {
    background-color: #ee7226;
    color: #fff;
    padding: 7px 10px;
    line-height: 1;
    width: fit-content;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    overflow-wrap: break-word;
    letter-spacing: 0.2083em;
    text-transform: uppercase;
}

.blog-featured-title.featured-title .page-title-inner .entry-title {
    font-size: 30px;
}

.rank-math-breadcrumb .separator {
    letter-spacing: 1px;
    font-weight: 300;
    margin: 0 0.3em;
    opacity: .35;
    position: relative;
    top: 0;
}

.article-inner .relatedcat {
    padding-top: 30px;
}

.article-inner .relatedcat .related-post .feature img {
    min-height: 160px;
}

.page-wrapper.blog-archive #post-list .post-item .col-inner .box-text .cat-label {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.testimonial .tabbed-content .nav > li {
    margin: 0 15px;
}

.mbws-policy-content td, .mbws-policy-content th {
    border: 1px solid #ececec;
}

.mbws-policy-content td:first-child, .mbws-policy-content th:first-child {
    padding-left: 10px;
}

.mbws-policy-content table {
    background-color: #fff;
}

.mbws-icon-green i {
    color: #81b441;
    background-color: #e9f1de;
    font-size: 50px;
    padding: 10px;
    border-radius: 5px;
}

.mbws-icon-blue i {
    color: #5d87ff;
    background-color: #ebf3fe;
    font-size: 50px;
    padding: 10px;
    border-radius: 5px;
}

.mbws-icon-purple i {
    color: #2100c4;
    background-color: #ecf2ff;
    font-size: 50px;
    padding: 10px;
    border-radius: 5px;
}

.mbws-icon-orange i {
    color: #eb7900;
    background-color: #fef5e5;
    font-size: 50px;
    padding: 10px;
    border-radius: 5px;
}

.mbws-img-icon .icon-box-img {
    background-color: #ebf3fe;
    padding: 9px;
    border-radius: 5px;
    margin-top: -40px;
}

.mbws-img-icon p {
    margin-top: -60px;
    padding-bottom: 30px;
}

.mbws-img-icon .ti {
    font-size: 30px;
    background-color: #ebf3fe;
    color: #5d87ff;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.mbws-buoc-thiet-ke .mbws-img-border img {
    border-radius: 10px;
}

.mbws-buoc-thiet-ke .img-transform-50 img {
    transform: rotateY(180deg);
}

span.count-up {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    color: #81b441;
}

sup.count-up {
    font-size: 30px;
}

.mbws-da-linh-vuc img {
    border-radius: 10px 10px 0 0;
}

.mbws-icon-box-yeu-cau .mbws-icon {
    margin-top: -65px;
}

.mbws-bang-gia-yc-1 ul li::before {
    content: "\f746";
    color: #5880f2;
    position: relative;
    left: -20px;
    top: 4px;
    font-family: "matbaows-icons";
    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
    margin-right: -16px;
}

.mbws-bang-gia-yc-1 ul {
    list-style: none;
}

.mbws-bang-gia-yc-2 ul li::before {
    content: "\f746";
    color: #81b441;
    position: relative;
    left: -20px;
    top: 4px;
    font-family: "matbaows-icons";
    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
    margin-right: -16px;
}

.mbws-bang-gia-yc-2 ul {
    list-style: none;
}

.primary, input[type=submit], input[type=submit].button {
    background-color: #8ab84d;
}

.mbws-col-5 .large-3 {
    flex-basis: 20%;
    max-width: 20%;
}

#app-category-app .title-category-app h2, .archive-page-header .title-category-blogs h2 {
    margin-top: 30px;
}

.mbws-col-5 .icon-box {
    margin-top: -65px !important;
}

.rainbow {
    position: relative;
    z-index: 0;
    width: 400px;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
    padding: 6px !important;
}

.rainbow::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
    animation: rotate 4s linear infinite;
}

table tr:first-child {
    background-color: #e8f7ff;
    height: 40px !important;
}

.mbws-header-bg {
    background: linear-gradient(79.37deg, rgba(184, 224, 236, .5), rgba(243, 236, 252, .5) 51.41%, hsla(68, 66%, 93%, .5) 96.17%), #fff;
}

.mbws-header-title {
    margin-bottom: 0px;
}

.mbws-header-title span {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, #97c93d, #4fba69);
    -webkit-background-clip: text;
    filter: drop-shadow(1px 1px black);
    position: relative;
    font-weight: bold;
}

.mbws-header-title-1 span {
    color: #0AA6E0;
    background: linear-gradient(45deg, #0AA6E0, #0797CC, #5823DB, #4417B2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    animation: gradient_anim 5s ease infinite reverse;
    font-weight: bold;
}

.mbws-product-header .box-text-products {
    display: none;
}

.service-pack {
    z-index: 111;
    box-shadow: rgba(100, 100, 111, 0.2) 0px -20px 29px 0px;
}

.mbws-hidden-arrow .icon-angle-down:before {
    display: none;
}

.mbws-accordion-simple .accordion-title {
    border-top: 0px solid #ddd;
}

.zalo-chat-widget {
    bottom: 25px!important;
    right: 25px!important;
}

.page-load-status {
    text-align: -webkit-center;
}

.page-load-status .loader-image {
    width: 100px;
}

.archive-img-loader {
    animation: mbws-loading-spin infinite 5s linear
}

@keyframes mbws-loading-spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.wpsr-reviews-badge-wrapper {
    text-align: right !important;
}

.wpsr-business-info .wpsr-business-info-right a.wpsr-write-review {
    font-size: 20px !important;
    padding: 15px 35px !important;
}

#mapDiv {
    border-radius: 10px;
}

#open-zalo {
    z-index: 9999;
}

.mbws-icon-box-menu {
    background-color: #e8f7ff;
    padding: 5px;
    border-radius: 5px;
}

.mbws-icon-box-menu-tool {
    background-color: #fef5e5;
    padding: 5px;
    border-radius: 5px;
}

.mbws-icon-box-menu-tool-1 {
    background-color: #e6fffa;
    padding: 5px;
    border-radius: 5px;
}

.nav-vertical>li {
    display: block;
}

.nav-vertical+.tab-panels {
    padding: 0 30px 0px;
}

.header-nav .nav-dropdown {
    min-width: 300px;
}

.version-theme-co-ban {
    background: #e8f7ff;
    color: #49beff;
    padding: 2px 15px;
    border-radius: 5px;
}

.version-theme-tieu-chuan {
    background: #e9f1de;
    color: #81b441;
    padding: 2px 15px;
    border-radius: 5px;
}

.version-theme-cao-cap {
    background: #fef5e5;
    color: #ffae1f;
    padding: 2px 15px;
    border-radius: 5px;
}

/* Custom CSS Tablet */
@media (max-width: 849px) {
    .header .header-main .container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .home .solution .ux-lottie {
        margin-top: 150px;
    }

    .page-template-page-blank-title-center h2 {
        font-size: 17px;
    }

    .service-pack .service-pack-row .col .col-inner .pricing-table-wrapper .pricing-table .pricing-table-header .title {
        font-size: 1.2rem;
    }

    .mbws-icon-box-yeu-cau .mbws-icon {
        margin-top: 0px;
    }

    .mbws-col-5 .large-3 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .mbws-col-5 .icon-box {
        margin-top: 0px !important;
    }
}

/* Custom CSS Mobile */
@media (max-width: 549px) {
    h3 {
        font-size: 1.3em;
    }

    .header .header-main .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .home .solution .ux-lottie {
        margin-top: 30px;
    }

    .faq .accordion-title {
        font-size: 100%;
    }

    .page-template-page-blank-title-center ol ol, ol ul, ul ol, ul ul {
        margin: 1.5em 0 1.5em 0em;
    }

    .blog-featured-title.featured-title .page-title-inner .entry-title {
        font-size: 25px;
        line-height: 30px;
    }

    .mockup-mobile .mockup-mobile-back .image {
        border-radius: 10px;
    }

    .mockup-desktop {
        width: 109%;
        height: 257px;
        padding: 34px 43px 0;
        margin-left: -35px;
    }

    .mbws-img-icon p {
        margin-top: -45px;
        padding-bottom: 20px;
    }

    .mbws-img-icon .ti {
        font-size: 20px;
        padding: 5px;
    }

    .mbws-col-5 .large-3 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .rainbow {
        margin: 15px;
    }

    .wpsr-reviews-badge-wrapper {
        text-align: left !important;
    }
}

.label-new.menu-item>a:after {
    content: "Má»›i";
}

.label-hot.menu-item>a:after {
    content: "Hot";
}

.label-sale.menu-item>a:after {
    content: "Sale";
}

.label-popular.menu-item>a:after {
    content: "Popular";
}
@media (max-width: 768px) {
    .page-template-page-themes .btn-dang-ky-demo {
        padding: 0px 12px !important;
        margin-right: 0;
    }

    .page-template-page-themes .navigate li {
        text-align: right;
    }
}

#newsletter-signup-link .mfp-close {
    opacity: 1!important;
    color: #fffdee!important;
    filter: none;
    background: transparent;
    top: -5px!important;
    right: -5px;
    mix-blend-mode: normal;
}

#footer .absolute-footer .container:after {
    display: none
}

#footer .absolute-footer .container > div {
    width: unset;
}

.social-icons .px500:before {
    content: '';
    background-image: url('/wp-content/uploads/2024/04/Icon_of_Zalo.svg');
    position: absolute;
    width: 25px;
    height: 25px;
    background-size: cover;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-icons .px500 {
    width: 44px;
    height: 44px;
    position: relative;
}

.social-icons .px500 i {
    color: #fff
}
.ux-additional-variation-images-thumbs-placeholder {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility .1s, opacity .1s, max-height .2s ease-out;
}

.ux-additional-variation-images-thumbs-placeholder--visible {
    max-height: 1000px;
    opacity: 1;
    visibility: visible;
    transition: visibility .2s, opacity .2s, max-height .1s ease-in;
}